<div class="container-fluid mh-10 d-flex justify-content-center" style="background-color: #2f3e46">
    <img src="./files/CertificateApp.jpg" class="img-fluid" style="height: 5rem" alt="Certificate_APP">
</div>